/XFlixelTemplate/XFlixelTemplate/bin/*
/XFlixelTemplate/XFlixelTemplate/obj/*
/XFlixelTemplate/XFlixelTemplateContent/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/*.cachefile
DiverXNA/Diver/Diver/bin/x86/ANDROID_OUYA/Content/flixel/*
DiverXNA/Diver/Diver/bin/x86/Debug/Content/flixel/*
DiverXNA/Diver/Diver/bin/x86/Debug/Content/*
DiverXNA/Diver/Diver/bin/x86/Debug/OgmoEditor2/SportsGround.oel
DiverXNA/Diver/Diver/obj/x86/Debug/ContentPipeline-{E3D7C5C9-FC6B-420C-9336-AB688A003887}.xml
*.cachefile
DiverXNA/Diver/Diver/bin/x86/Debug/FarseerPhysics XNA.xml
DiverXNA/Diver/Diver/bin/x86/Release/*
DiverXNA/Diver/Diver/bin/*